log4j.rootCategory=ERROR, stdout

#
# Standard output device
#
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n

#log4j.logger.org.openvpms.component.business.service.archetype.descriptor.cache=DEBUG
#log4j.logger.org.openvpms.component.business.service.archetype.descriptor.cache.ArchetypeDescriptorCacheFS=DEBUG
log4j.logger.org.openvpms.component.business.service.archetype.ArchetypeService=DEBUG
#log4j.logger.org.openvpms.component.business.service.archetype.JXPathGenericObjectCreationFactory=DEBUG
#log4j.logger.org.openvpms.tools.lookup.loader.LookupLoader=
#log4j.logger.org.openvpms.component.business.dao.hibernate.im.lookup.LookupDAOHibernate=DEBUG
#log4j.logger.org.hibernate.SQL=WARN
#log4j.logger.org.openvpms.component.business.service.audit.AuditService=DEBUG
#log4j.logger.org.acegisecurity=DEBUG
