<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Version: 1.0
  ~
  ~ The contents of this file are subject to the OpenVPMS License Version
  ~ 1.0 (the 'License'); you may not use this file except in compliance with
  ~ the License. You may obtain a copy of the License at
  ~ http://www.openvpms.org/license/
  ~
  ~ Software distributed under the License is distributed on an 'AS IS' basis,
  ~ WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  ~ for the specific language governing rights and limitations under the
  ~ License.
  ~
  ~ Copyright 2013 (C) OpenVPMS Ltd. All Rights Reserved.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- ================================================================== -->
    <!--                         GENERAL DEFINITIONS                        -->
    <!-- ================================================================== -->

    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">

        <property name="ignoreResourceNotFound" value="true"/>

        <!-- Note: Properties defined in later files will override          -->
	    <!-- properties defined earlier files, in case of overlapping keys. -->
	    <!-- Hence, make sure that the most specific files are the last     -->
	    <!-- ones in the given list of locations.                           -->
        <property name="locations">
            <list>
                <value>classpath:default-openvpms.properties</value>
                <value>classpath:hibernate.properties</value>
            </list>
        </property>
    </bean>

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="properties"/>

        <!-- allow system properties to override any other property source -->
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <!-- ================================================================== -->
    <!--                         RESOURCE DEFINITIONS                       -->
    <!-- ================================================================== -->

    <!--  The DataSource -->
    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"
                  value="${hibernate.connection.driver_class}"/>
        <property name="url" value="${hibernate.connection.url}"/>
        <property name="username"
                  value="${hibernate.connection.username}"/>
        <property name="password"
                  value="${hibernate.connection.password}"/>
    </bean>

    <!--  Hibernate session factory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    ${hibernate.dialect}
                </prop>
                <prop key="hibernate.show_sql">
                    ${hibernate.show_sql}
                </prop>
                <prop key="hibernate.max_fetch_depth">
                    ${hibernate.max_fetch_depth}
                </prop>
                <prop key="hibernate.c3p0.min_size">
                    ${hibernate.c3p0.min_size}
                </prop>
                <prop key="hibernate.c3p0.max_size">
                    ${hibernate.c3p0.max_size}
                </prop>
                <prop key="hibernate.c3p0.timeout">
                    ${hibernate.c3p0.timeout}
                </prop>
                <prop key="hibernate.c3p0.max_statements">
                    ${hibernate.c3p0.max_statements}
                </prop>
                <prop key="hibernate.cache.provider_class">
                    ${hibernate.cache.provider_class}
                </prop>
                <prop key="hibernate.cache.use_second_level_cache">
                    ${hibernate.cache.use_second_level_cache}
                </prop>
                <prop key="hibernate.cache.use_query_cache">
                    ${hibernate.cache.use_query_cache}
                </prop>
                <prop key="hibernate.jdbc.use_scrollable_resultset">true</prop>
                <prop key="hibernate.jdbc.batch_size">
                    ${hibernate.jdbc.batch_size}
                </prop>
                <prop key="hibernate.c3p0.max_statements">
                    ${hibernate.c3p0.max_statements}
                </prop>
                <prop key="net.sf.ehcache.configurationResourceName">/ehcache.xml</prop>
                <prop key="hibernate.generate_statistics">true</prop>
            </props>
        </property>
        <property name="schemaUpdate" value="false"/>
        <property name="mappingResources">
            <list>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/act/ActDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/act/ActRelationshipDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/act/ParticipationDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/archetype/ActionTypeDescriptorDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/archetype/ArchetypeDescriptorDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/archetype/AssertionDescriptorDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/archetype/AssertionTypeDescriptorDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/archetype/NodeDescriptorDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/document/DocumentDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/audit/AuditRecord.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/entity/EntityDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/entity/EntityIdentityDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/entity/EntityRelationshipDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/lookup/LookupDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/lookup/LookupRelationshipDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/party/ContactDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/product/ProductPriceDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/security/ArchetypeAuthorityDOImpl.hbm.xml
                </value>
                <value>
                    org/openvpms/component/business/dao/hibernate/im/security/SecurityRoleDOImpl.hbm.xml
                </value>
                <value>
                    /org/openvpms/archetype/rules/workflow/Workflow.hbm.xml
                </value>
                <value>
                    /org/openvpms/archetype/rules/patient/reminder/Reminder.hbm.xml
                </value>
                <value>
                    /org/openvpms/archetype/rules/finance/account/Balance.hbm.xml
                </value>
                <value>
                    /org/openvpms/archetype/rules/supplier/Supplier.hbm.xml
                </value>
            </list>
        </property>
    </bean>

    <!--  Transaction manager -->
    <bean id="txnManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- ================================================================== -->
    <!--                           DAO DEFINITIONS                        = -->
    <!-- ================================================================== -->


    <!--  The IMObject DAO bean -->
    <bean id="imObjectDao"
          class="org.openvpms.component.business.dao.hibernate.im.IMObjectDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="transactionManager" ref="txnManager"/>
    </bean>

    <!--  The AuditRecord DAO bean -->
    <bean id="auditDao"
          class="org.openvpms.component.business.dao.hibernate.im.audit.AuditDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- ================================================================== -->
    <!--                           CACHE MANAGER                            -->
    <!-- ================================================================== -->

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <!-- NOTE: the configLocation must be the same as that specified by the sessionFactory
             property: net.sf.ehcache.configurationResourceName, when SingletonEhCacheProvider is being used -->
        <property name="configLocation" value="classpath:ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <!-- ================================================================== -->
    <!--                           JMX                                      -->
    <!-- ================================================================== -->

    <!--
    <bean id="hibernateStatisticsMBean" class="org.hibernate.jmx.StatisticsService" lazy-init="false">
        <property name="statisticsEnabled" value="true"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="ehCacheMBeanRegistration" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" lazy-init="false">
        <property name="staticMethod" value="net.sf.ehcache.management.ManagementService.registerMBeans"/>
        <property name="arguments">
            <list>
                <ref bean="cacheManager"/>
                <ref bean="mbeanServer"/>
                <value>true</value>
                <value>true</value>
                <value>true</value>
                <value>true</value>
            </list>
        </property>
    </bean>

    <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean" lazy-init="false">
        <property name="locateExistingServerIfPossible" value="true"/>
    </bean>

    <bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
        <property name="beans">
            <map>
                <entry key="Hibernate:name=statistics" value-ref="hibernateStatisticsMBean"/>
            </map>
        </property>
        <property name="server" ref="mbeanServer"/>
    </bean>
    -->

    <!-- ================================================================== -->
    <!--                      BUSINESS SERVICE BEANS                        -->
    <!-- ================================================================== -->

    <!--  The Archetype Descriptor Cache -->
    <bean id="archetypeDescriptorCache"
          class="org.openvpms.component.business.service.archetype.descriptor.cache.ArchetypeDescriptorCacheDB">
        <constructor-arg ref="imObjectDao"/>
    </bean>

    <!--  The Archetype Rule service -->
    <bean id="archetypeRuleService"
          class="org.openvpms.component.business.service.archetype.rule.ArchetypeRuleService">
        <constructor-arg ref="archetypeService"/>
        <constructor-arg ref="ruleEngine"/>
        <constructor-arg ref="txnManager"/>
        <property name="facts">
            <!-- make currencies available to rules -->
            <list>
                <ref bean="currencies"/>
                <ref bean="lookupService"/>
            </list>
        </property>
    </bean>

    <!-- The Archetype service -->
    <bean id="archetypeService"
          class="org.openvpms.component.business.service.archetype.ArchetypeService" autowire-candidate="false">
        <!-- don't make this a candidate for autowiring as it doesn't support rules -->
        <constructor-arg ref="archetypeDescriptorCache"/>
        <property name="dao" ref="imObjectDao"/>
        <property name="ruleEngine" ref="ruleEngine"/>
    </bean>

    <!--  The Audit Service -->
    <bean id="auditService"
          class="org.openvpms.component.business.service.audit.AuditService">
        <constructor-arg ref="auditDao"/>
    </bean>

    <!-- ================================================================== -->
    <!--                         ARCHETYPE SUPPORT                          -->
    <!-- ================================================================== -->

    <bean id="archetypeServiceHelper"
          class="org.openvpms.component.business.service.archetype.ArchetypeServiceHelper">
        <constructor-arg ref="archetypeRuleService"/>
    </bean>

    <bean name="imObjectBeanFactory"
          class="org.openvpms.component.business.service.archetype.helper.IMObjectBeanFactory">
        <constructor-arg index="0" ref="archetypeRuleService"/>
    </bean>

    <!-- The JXPathHelper class, used to register extension functions -->
    <bean id="jxpathHelper"
          class="org.openvpms.component.system.common.jxpath.JXPathHelper">
        <constructor-arg>
            <map>
                <entry key="openvpms"
                       value="org.openvpms.component.business.service.archetype.ArchetypeServiceFunctions"/>
                <entry key="lookup"
                       value="org.openvpms.archetype.function.lookup.LookupFunctions"/>
                <entry key="party">
                    <bean class="org.openvpms.archetype.function.party.PartyFunctions">
                        <constructor-arg ref="archetypeRuleService"/>
                        <constructor-arg ref="lookupService"/>
                        <constructor-arg ref="patientRules"/>
                    </bean>
                </entry>
                <entry key="reminder">
                    <bean class="org.openvpms.archetype.function.reminder.ReminderFunctions">
                        <constructor-arg index="0" ref="archetypeService"/>
                        <constructor-arg index="1" ref="reminderRules"/>
                        <constructor-arg index="2" ref="customerRules"/>
                    </bean>
                </entry>
                <entry key="date"
                       value="org.openvpms.component.system.common.jxpath.DateFunctions"/>
                <entry key="math">
                    <bean class="org.openvpms.archetype.function.math.MathFunctions"/>
                </entry>
                <entry key="word"
                       value="org.apache.commons.lang.WordUtils"/>
                <entry key="macro">
                    <bean class="org.openvpms.archetype.function.macro.MacroFunctions">
                        <constructor-arg index="0" ref="macroCache"/>
                    </bean>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <!-- ================================================================== -->
    <!--                         LOOKUP SERVICE                             -->
    <!-- ================================================================== -->

    <bean id="lookupService"
          class="org.openvpms.component.business.service.lookup.CachingLookupService">
        <constructor-arg index="0" ref="archetypeRuleService"/>
        <constructor-arg index="1">
            <ref local="imObjectDao"/>
        </constructor-arg>
        <constructor-arg index="2">
            <bean class="org.springframework.cache.ehcache.EhCacheFactoryBean">
                <property name="diskPersistent" value="false"/>
                <property name="cacheName" value="lookupCache"/>
                <property name="maxElementsInMemory" value="40000"/>
                <property name="overflowToDisk" value="false"/>
                <property name="eternal" value="true"/>
            </bean>
        </constructor-arg>
        <property name="cached">
            <list>
                <value>lookup.state</value>
                <value>lookup.suburb</value>
            </list>
        </property>
    </bean>

    <bean id="lookupServiceHelper"
          class="org.openvpms.component.business.service.lookup.LookupServiceHelper">
        <constructor-arg ref="lookupService"/>
    </bean>


    <!-- ================================================================== -->
    <!--                 RULES ENGINE (DROOLS)                              -->
    <!-- ================================================================== -->

    <!-- The local ruleServiceProvider. We can have as many different ruleProviders as we want -->
    <bean id="ruleServiceProvider"
          class="org.springmodules.jsr94.factory.DefaultRuleServiceProviderFactoryBean">
        <property name="provider" value="http://drools.org"/>
        <property name="providerClass"
                  value="org.drools.jsr94.rules.RuleServiceProviderImpl"/>
    </bean>

    <!-- The local ruleRuntime. Usually, there is one ruleRuntime bean for each ruleServiceProvider bean. -->
    <bean id="ruleRuntime"
          class="org.springmodules.jsr94.factory.RuleRuntimeFactoryBean">
        <property name="serviceProvider" ref="ruleServiceProvider"/>
    </bean>

    <!-- the local ruleAdministrator. Usually, there is one ruleAdministrator bean for each ruleServiceProvider bean -->
    <bean id="ruleAdministrator"
          class="org.springmodules.jsr94.factory.RuleAdministratorFactoryBean">
        <property name="serviceProvider" ref="ruleServiceProvider"/>
    </bean>

    <!-- the ruleSource. There can be many ruleSource beans for each ruleAdministrator/ruleRuntime. -->
    <bean id="ruleSource"
          class="org.openvpms.component.business.service.ruleengine.RuleDescriptorRuleSource">
        <property name="ruleRuntime" ref="ruleRuntime"/>
        <property name="ruleAdministrator" ref="ruleAdministrator"/>
    </bean>

    <!--  The Rule engine -->
    <bean id="ruleEngine"
          class="org.openvpms.component.business.service.ruleengine.RuleEngine">
        <constructor-arg ref="ruleSource"/>
    </bean>

    <!-- ================================================================== -->
    <!--                      AUDIT DEFINITIONS                           = -->
    <!-- ================================================================== -->

    <!--  Create a proxy for the ArchetypeService bean -->
    <bean id="autoProxyCreator"
          class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>archetypeService</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>auditServiceAdvisor</value>
            </list>
        </property>
    </bean>

    <!-- The audit service advisor -->
    <bean id="auditServiceAdvisor"
          class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="auditService"/>
        <property name="patterns">
            <list>
                <value>.*ArchetypeService\.save</value>
                <value>.*ArchetypeService\.remove</value>
            </list>
        </property>
    </bean>

    <!-- ================================================================== -->
    <!--                        REPORTING                                   -->
    <!-- ================================================================== -->

    <!-- the Document handlers -->
    <bean id="documentHandlers"
          class="org.openvpms.archetype.rules.doc.DocumentHandlers">
        <property name="documentHandlers">
            <list>
                <bean class="org.openvpms.report.jasper.JRXMLDocumentHandler"/>
            </list>
        </property>
    </bean>

    <!-- OpenOffice bootstrap service. Starts an instance of OpenOffice on
         the local host listening on a socket.
         This is equivalent to running:
            soffice -nologo -nodefault -norestore -nolockcheck -accept=socket,port=8100;urp;
    -->
    <bean id="OOSocketBootstrapService"
          class="org.openvpms.report.openoffice.OOSocketBootstrapService">
        <constructor-arg type="int" value="8100"/>
        <!-- start the service on demand -->
        <constructor-arg type="boolean" value="false"/>
    </bean>

    <!-- OpenOffice connection pool. Uses an OOBootstrapService
         to create connections.
    -->
    <bean id="OOBootstrapConnectionPool"
          class="org.openvpms.report.openoffice.OOBootstrapConnectionPool">
        <constructor-arg ref="OOSocketBootstrapService"/>
        <!-- restart OpenOffice after 'reuseCount' uses. Use 0 to never
             restart.
        -->
        <property name="reuseCount" value="1000"/>
    </bean>

    <bean id="printService"
          class="org.openvpms.report.openoffice.PrintService">
        <constructor-arg ref="OOBootstrapConnectionPool"/>
        <constructor-arg ref="documentHandlers"/>
    </bean>

    <bean id="openOfficeHelper"
          class="org.openvpms.report.openoffice.OpenOfficeHelper">
        <constructor-arg ref="OOBootstrapConnectionPool"/>
        <constructor-arg ref="printService"/>
    </bean>

    <!-- ================================================================== -->
    <!--                        EMAIL                                       -->
    <!-- ================================================================== -->
    <bean id="mailSender" class="org.openvpms.web.component.service.MailService" scope="prototype"/>

    <!-- ================================================================== -->
    <!--                        PROPER CASING                               -->
    <!-- ================================================================== -->

    <bean id="properCaseConverter"
          class="org.openvpms.component.business.service.archetype.assertion.ProperCaseNameConverter">
        <constructor-arg>
            <bean class="org.openvpms.component.business.service.archetype.assertion.LocaleProperCaseRules">
                <constructor-arg value="org.openvpms.web.resource.localisation.propercase"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="properCaseConverterHelper"
          class="org.openvpms.component.business.service.archetype.assertion.ProperCaseConverterHelper">
        <constructor-arg ref="properCaseConverter"/>
    </bean>

    <!-- ================================================================== -->
    <!--                        APPLICATION                                 -->
    <!-- ================================================================== -->
    <bean id="context" class="org.openvpms.web.component.app.GlobalContext" scope="prototype"/>

    <bean id="openVPMSApp" class="org.openvpms.web.app.OpenVPMSApp" scope="prototype">
        <constructor-arg ref="context"/>
        <property name="styleSheets" ref="userStyleSheets"/>
    </bean>

    <bean id="styleSheetCache" class="org.openvpms.web.component.style.StyleSheetCache">
        <constructor-arg index="0" value="org/openvpms/web/resource/style/default"/>
    </bean>

    <bean id="userStyleSheets" class="org.openvpms.web.component.style.UserStyleSheets" scope="session">
        <constructor-arg index="0" ref="styleSheetCache"/>
    </bean>

    <bean id="browserStates" class="org.openvpms.web.component.im.query.BrowserStates" scope="session"/>

    <bean id="messageMonitor" class="org.openvpms.web.app.workflow.messaging.MessageMonitor">
        <constructor-arg ref="archetypeRuleService"/>
    </bean>

    <!-- Defines the key stroke combination for accelerator keys.
         If mask not specified, defaults to 'Alt'.
      -->
    <bean id="keyStrokeMask"
          class="org.openvpms.web.component.util.KeyStrokeMask">
        <!--  The mask. May contain combinations of Ctrl, Alt, or Shift,
              separated by '-' -->
        <property name="mask" value="Alt"/>
    </bean>

    <bean id="errorReporter" class="org.openvpms.web.component.error.ErrorReporter"/>


</beans>
