<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <!-- ================================================================== -->
    <!--                       USER SERVICE DEFINITIONS                   = -->
    <!-- ================================================================== -->

    <!--  The User DAO bean -->
    <bean id="userDao"
          class="org.openvpms.component.business.dao.hibernate.im.security.UserDAOHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- The User Details service -->
    <bean id="userService"
          class="org.openvpms.component.business.service.security.UserService">
        <constructor-arg index="0">
            <ref local="userDao"/>
        </constructor-arg>
    </bean>

    <!-- ================================================================== -->
    <!--                            FILTER CHAIN                            -->
    <!-- ================================================================== -->

    <security:http entry-point-ref="authenticationEntryPoint">
        <security:intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/login/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY"/>
        <!--security:session-management invalid-session-url="/login"/-->
        <!--security:custom-filter before="FORM_LOGIN_FILTER" ref="skipLoginFilter"-->
        <security:custom-filter position="FORM_LOGIN_FILTER" ref="authenticationFilter"/>
    </security:http>

    <bean id="authenticationEntryPoint" class="org.openvpms.web.servlet.EchoAuthenticationEntryPoint">
        <property name="loginFormUrl" value="/login"/>
    </bean>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="userService"/>
    </security:authentication-manager>

    <bean id="authenticationFilter"
          class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="postOnly" value="false"/>
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
        <property name="filterProcessesUrl" value="/j_spring_security_check"/>
    </bean>

    <bean id="authenticationSuccessHandler"
          class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <property name="alwaysUseDefaultTargetUrl" value="true"/>
        <property name="defaultTargetUrl" value="/app"/>

    </bean>
    <bean id="skipLoginFilter" class="org.openvpms.web.servlet.SkipLoginFilter"/>

    <!-- This bean automatically receives AuthenticationEvent messages from Spring Security  -->
    <bean id="loggerListener" class="org.springframework.security.authentication.event.LoggerListener"/>

</beans>

